body {
  max-width: 800px;
  margin: auto;
  background: linear-gradient(45deg, rgb(234, 242, 255), rgb(233, 255, 241))
}

h1 {
  color: #133;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 200px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -10px;
}

h2 {
  color: #111;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  margin-top: 30px;
}

p {
  border: solid 2px #999;
  border-radius: 10px;
  padding: 15px;
}

